/*  Name: Sanchita Kanade
	Instructor Name: Zak Ruvalcaba
	Class: CS648.01 Modern Web Development Frameworks Fall 2019
	File: styles.css
    Assignment No.: 8
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

#employeeInfo span {color:red;}

table, td, th {
    border: 5px solid white;
}

table {
    border-collapse: collapse;
}

input {
    margin: 10px;
    padding: 4px;
}

#addEmployee {
    margin-left: 218px;
}

#employeeName {
    margin-left:49px;
}

#employeeTitle {
    margin-left: 62px;
}

#employeeExtension {
    margin-left: 20px;
}

#employeeName, #employeeTitle, #employeeExtension {
    padding-left: 20px;
    padding-right: 20px;
    border: 1.5px solid rgb(82, 137, 238);
}
th {
    background-color: cornflowerblue;
    padding: 10px;
    width: 172px;
}

td {
    background-color: rgb(188, 225, 243);
    padding-left:7px;
}
.button , #addEmployee {
    background-color:cornflowerblue;
    color: white;
    border: 1px solid black;
    padding: 4px 15px;
}